:root {
  --main-color: #1a335d;
  --light-color: #f7f9ff;
  --dark-color: #1d1d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--dark-color);
}

body {
  background: var(--light-color);
}

a {
  text-decoration: none;
}

section.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.logo-container {
  width: 4em;
}

div.logo-container img {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  color: var(--light-color);
  background: var(--main-color);
}

form {
  width: 80%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

form .selector {
  width: 60%;
  display: grid;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  grid-template-columns: repeat(3, 1fr);
  background: var(--main-color);
  border: 2px solid var(--main-color);
}

form .selector a {
  text-align: center;
  transition: all 0.2s ease;
  border-radius: 6px;
}

form .selector a:hover {
  background: var(--light-color);
}

form .selector a i {
  color: var(--light-color);
  padding: 8px;
}

form .selector a:hover i {
  color: var(--main-color);
}

form div {
  margin: 12px;
}

form div input {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  position: relative;
}

form div label {
  margin: 6px;
}

form button {
  width: 40%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  background: var(--main-color);
  padding: 8px;
  text-align: center;
  color: var(--light-color);
}

form button a {
  color: var(--light-color);
}

nav {
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: 0;
  background: var(--main-color);

  border-radius: 12px 12px 0 0;
}

nav a {
  color: var(--light-color);
  font-weight: 700;
  text-align: center;
  position: relative;
}

nav a::after {
  position: absolute;
  bottom: 0;
  content: "";
  background: var(--light-color);
  height: 10px;
}

nav a i {
  color: var(--light-color);
  font-size: 1.5em;
}

.active_page {
  border-bottom: 6px solid var(--light-color);
  padding-bottom: 12px;
  border-radius: 2px;
}

div.bus-stop-container {
  width: 100%;
  align-self: center;
 }
 
 div.bus-stop-container img {
   width: 100%;
 }

div.parada {
  display: grid;
  grid-template-columns: 66px calc(100% - 66px);
  width: 90%;
}

div.parada form {
  margin-top: 48px;
  justify-self: center;
}

div.parada form button{
  margin-top: 0px;
}

div.localizame {
  display: grid;
  grid-template-columns: calc(100% - 66px) 66px ;
  width: 75%;
  margin-top: 20px;
}

div.localizame form {
  justify-self: center;
}

div.localizame form input {
  background: var(--main-color);
  margin: 0 auto;
  padding: 16px;
  border: 0;
  border-radius: 12px;
}

div.localizame form input::placeholder {
  color: var(--light-color);
  text-align: center;
}
